<?xml version="1.0" encoding="utf-8"?>
<config addfieldprefix="FKT\Component\Intercom\Administrator\Field">
<fieldset name="settings" label="COM_INTERCOM_SETTINGS">
<field name="mode" type="list" label="COM_INTERCOM_MODE" default="fake"><option value="fake">COM_INTERCOM_FAKE</option><option value="live">COM_INTERCOM_LIVE</option></field>
<field name="board_archive_email" type="email" label="COM_INTERCOM_BOARD_ARCHIVE" description="COM_INTERCOM_BOARD_ARCHIVE_HELP" filter="string" />
<field name="sender_name" type="text" label="COM_INTERCOM_SENDER" description="COM_INTERCOM_SENDER_NAME_HELP" default="Trekanten Fencing" maxlength="255" required="true" filter="raw" />
<field name="sender_email" type="email" label="COM_INTERCOM_SENDER_EMAIL" filter="string" />
<field name="group_id" type="IntercomGroup" label="COM_INTERCOM_GROUP_ID" filter="integer" />
<field name="unsubscribe_form_id" type="IntercomUnsubscribe" label="COM_INTERCOM_UNSUBSCRIBE_FORM_ID" description="COM_INTERCOM_UNSUBSCRIBE_HELP" filter="raw" />
<field name="max_filters" type="number" label="COM_INTERCOM_MAX_FILTERS" description="COM_INTERCOM_MAX_FILTERS_HELP" min="1" max="20" default="5" filter="integer" />
<field name="estimate_cache_minutes" type="number" label="COM_INTERCOM_ESTIMATE_CACHE" min="1" max="60" default="5" filter="integer" />
<field name="audience_lease_minutes" type="number" label="COM_INTERCOM_AUDIENCE_LEASE" min="5" max="240" default="30" filter="integer" />
<field name="retention_days" type="number" label="COM_INTERCOM_RETENTION_DAYS" min="1" max="3650" default="30" filter="integer" />
<field name="acceptance_recipient" type="email" label="COM_INTERCOM_ACCEPTANCE_RECIPIENT_LABEL" description="COM_INTERCOM_ACCEPTANCE_RECIPIENT_HELP" filter="string" />
<field name="release_verified" type="IntercomAcceptance" label="COM_INTERCOM_RELEASE_VERIFIED" filter="unset" />
</fieldset>
<fieldset name="footer" label="COM_INTERCOM_FOOTER_OPTIONS" description="COM_INTERCOM_FOOTER_HELP">
<field name="footer_profile_da" type="url" label="COM_INTERCOM_PROFILE_DA" default="https://trekanten.org/min-klub/member-profile" required="true" filter="raw" />
<field name="footer_profile_en" type="url" label="COM_INTERCOM_PROFILE_EN" default="https://trekanten.org/en/my-club/member-profile" required="true" filter="raw" />
<field name="footer_address" type="textarea" label="COM_INTERCOM_FOOTER_ADDRESS" default="Fægteklubben Trekanten · Lyngbyvej 104&#10;2100 København Ø · Denmark" rows="3" maxlength="1000" filter="raw" />
<field name="footer_phone" type="text" label="COM_INTERCOM_FOOTER_PHONE" default="+45 3927 1313" maxlength="1000" filter="raw" />
<field name="footer_email" type="email" label="COM_INTERCOM_FOOTER_EMAIL" default="info@trekanten.org" filter="raw" />
<field name="footer_website" type="url" label="COM_INTERCOM_FOOTER_WEBSITE" default="https://trekanten.org" filter="raw" />
<field name="footer_instagram" type="url" label="Instagram" default="https://www.instagram.com/fktrekanten/" filter="raw" />
<field name="footer_linkedin" type="url" label="LinkedIn" default="https://www.linkedin.com/company/fktrekanten/" filter="raw" />
<field name="footer_facebook" type="url" label="Facebook" default="https://www.facebook.com/faegteklubbentrekanten/" filter="raw" />
<field name="footer_youtube" type="url" label="YouTube" default="https://www.youtube.com/@fktrekanten" filter="raw" />
</fieldset>
<fieldset name="connection" label="COM_INTERCOM_CONNECTION"><field name="connection_panel" type="IntercomConnection" hiddenLabel="true" label="COM_INTERCOM_CONNECTION" filter="unset" /></fieldset>
<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL"><field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" filter="rules" component="com_intercom" section="component"/></fieldset>
</config>
