<?xml version="1.0" encoding="utf-8"?>
<config addfieldprefix="FKT\Component\Intercom\Administrator\Field">
<fieldset name="settings" label="COM_INTERCOM_SETTINGS">
<field name="mode" type="list" label="COM_INTERCOM_MODE" default="fake"><option value="fake">COM_INTERCOM_FAKE</option><option value="live">COM_INTERCOM_LIVE</option></field>
<field name="board_archive_email" type="email" label="COM_INTERCOM_BOARD_ARCHIVE" description="COM_INTERCOM_BOARD_ARCHIVE_HELP" filter="string" />
<field name="sender_name" type="text" label="COM_INTERCOM_SENDER" description="COM_INTERCOM_SENDER_NAME_HELP" default="Trekanten Fencing" maxlength="255" required="true" filter="raw" />
<field name="sender_email" type="email" label="COM_INTERCOM_SENDER_EMAIL" filter="string" />
<field name="group_id" type="IntercomGroup" label="COM_INTERCOM_GROUP_ID" filter="integer" />
<field name="unsubscribe_form_id" type="number" label="COM_INTERCOM_UNSUBSCRIBE_FORM_ID" min="0" filter="integer" />
<field name="max_filters" type="number" label="COM_INTERCOM_MAX_FILTERS" description="COM_INTERCOM_MAX_FILTERS_HELP" min="1" max="20" default="5" filter="integer" />
<field name="retention_days" type="number" label="COM_INTERCOM_RETENTION_DAYS" min="1" max="3650" default="30" filter="integer" />
<field name="release_verified" type="radio" layout="joomla.form.field.radio.switcher" label="COM_INTERCOM_RELEASE_VERIFIED" default="0" filter="integer"><option value="0">JNO</option><option value="1">JYES</option></field>
</fieldset>
<fieldset name="connection" label="COM_INTERCOM_CONNECTION"><field name="connection_panel" type="IntercomConnection" hiddenLabel="true" label="COM_INTERCOM_CONNECTION" filter="unset" /></fieldset>
<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL"><field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" filter="rules" component="com_intercom" section="component"/></fieldset>
</config>
